{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Login' %}
{% endblock %}

{% block body %}
    <section class="section-offset">
        <div class="container auth-content">
            <h1 class="auth-title login-title">{% trans 'Login' %}</h1>
                <form class="auth-form" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="register__btn btn" type="submit">{% trans 'Login' %}</button>
                </form>
        </div>
    </section>

{% endblock %}