{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    {% trans 'Profile' %} {{ profile.pk }}
{% endblock %}

{% block body %}
    <section class="section-offset">
        <div class="container auth-content">
            <h1 class="auth-title profile-detail-title">{% trans 'Your profile' %}</h1>

            <div class="profile-content">
                <p class="profile-content-para">
                    {% if profile.avatar %}
                        <img class="profile_page_avatar" src="{{ profile.avatar.url }}" alt="">
                    {% endif %}
                </p>
                <p class="profile-content-para">
                    {% trans 'Username' %}: {{ profile.user.username }}
                </p>
                <p class="profile-content-para">
                    {% if profile.user.first_name %}
                        {% trans 'Firstname' %}: {{ profile.user.first_name }}
                    {% endif %}
                </p>
                <p class="profile-content-para">
                    {% if profile.user.last_name %}
                        {% trans 'Last name' %}: {{ profile.user.last_name }}
                    {% endif %}
                </p>
                <p class="profile-content-para">
                    {% if profile.user.email %}
                        {% trans 'Email address' %}: {{ profile.user.email }}
                    {% endif %}
                </p>
                <p class="profile-content-para">
                    {% if profile.age %}
                        {% trans 'Age' %}: {{ profile.get_age }}
                    {% endif %}
                </p>
                <p class="profile-content-para">
                    {% if profile.bio %}
                        <p>{{ profile.bio }}</p>
                    {% endif %}
                </p>
            </div>
            <p class="profile-update-btn">
                <a class="a-reset btn register__btn" href="{% url 'app_auth:profile_update' pk=profile.pk %}">
                    {% trans 'Update profile' %}
                </a>
            </p>
        </div>
    </section>
{% endblock %}