{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    {% trans 'Profile Update' %}
{% endblock %}

{% block body %}
    <section class="section-offset">

        <div class="container auth-content">
            <h1 class="auth-title update-title">
                {% trans 'Update your profile' %}
            </h1>
            <form class="auth-form update-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                {{ form_1.as_p }}

                <button class="register__btn btn" type="submit">
                    {% trans 'Update' %}
                </button>
            </form>
        </div>
    </section>

{% endblock %}