{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    {% trans 'Profile' %} {{ cur_profile.pk }}
{% endblock %}

{% block body %}
    <section class="section-offset">
        <div class="container auth-content">
            <h1 class="auth-title profile-detail-title">{{cur_profile.user.username}}</h1>

            <div class="profile-content">
                <p class="profile-content-para">
                    {% if cur_profile.avatar %}
                        <img class="profile_page_avatar" src="{{ cur_profile.avatar.url }}" alt="">
                    {% endif %}
                </p>
                <p class="profile-content-para">
                    {% if cur_profile.user.first_name %}
                        {% trans 'First name' %}: {{ cur_profile.user.first_name }}
                    {% endif %}
                </p>
                <p class="profile-content-para">
                    {% if cur_profile.user.last_name %}
                        {% trans 'Last name' %}: {{ cur_profile.user.last_name }}
                    {% endif %}
                </p>
                <p class="profile-content-para">
                    {% if cur_profile.user.email %}
                        {% trans 'Email' %}: {{ cur_profile.user.email }}
                    {% endif %}
                </p>
                <p class="profile-content-para">
                    {% if cur_profile.age %}
                        {% trans 'Age' %}: {{ cur_profile.get_age }}
                    {% endif %}
                </p>
                <p class="profile-content-para">
                    {% if cur_profile.bio %}
                        <p>{{ cur_profile.bio }}</p>
                    {% endif %}
                </p>
            </div>
            <p class="profile-update-btn">
                <a class="a-reset btn register__btn" href="{% url 'app_blog:user_blog_list' pk=cur_profile.pk %}">
                    {% trans "To user's blogs" %}
                </a>
            </p>
        </div>
    </section>
{% endblock %}