{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Delete blog#' %}{{ blog.pk }}
{% endblock %}

{% block body %}
    <section class="section-offset">
        <div class="container delete-container flex">
            <h1 class="title">{% trans 'Are you sure you want to delete the blog' %} "{{ blog.title }}"?</h1>
            <form method="post" class="blog-form flex delete-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn register__btn delete-btn" type="submit">{% trans 'Delete' %}</button>
            </form>
            <a class="a-reset btn register__btn delete-btn" href="{% url 'app_blog:blog_detail' pk=blog.pk %}">{% trans 'No' %}</a>
        </div>
    </section>
{% endblock %}