{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'New blog' %}
{% endblock %}

{% block body %}
    <section class="section-offset">
        <div class="container">
            <h1 class="title">Create your new blog</h1>
            <form method="post" class="blog-form">
                {% csrf_token %}
                {{ form.as_p }}

                <button class="btn register__btn" type="submit">Create</button>
            </form>
        </div>
    </section>
{% endblock %}